server:
  port: 8080
spring:
  application:
    name: api-gateway
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    loadbalancer:
      enabled: true
    sentinel:
      eager: true
      transport:
        dashboard:
          127.0.0.1:8999
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
              - Path=/auth/**
            - id: cluster-service
              uri: lb://cluster-service
              predicates:
              - Path=/cluster/**
          discovery:
            locator:
              enabled: true
logging:
  level:
    root: debug
    org.springframework.cloud.gateway: trace
    org.springframework.cloud.loadbalancer: trace
